@model AssetTracker.Web.Models.Entities.AssetAssignment

@{
    ViewData["Title"] = "Assignment Details";
}

<div class="container my-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Assignment Details</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Asset Model</dt>
                <dd class="col-sm-9">@Model.Asset.Model</dd>

                <dt class="col-sm-3">Asset Type</dt>
                <dd class="col-sm-9">@Model.Asset.Type</dd>

                <dt class="col-sm-3">Asset Status</dt>
                <dd class="col-sm-9">@Model.Asset.Status</dd>

                <dt class="col-sm-3">Employee</dt>
                <dd class="col-sm-9">@Model.Employee.Name</dd>

                <dt class="col-sm-3">Assigned Date</dt>
                <dd class="col-sm-9">@Model.AssignedDate.ToString("g")</dd>


                <dt class="col-sm-3">Return Date</dt>
                @if (!Model.ReturnDate.HasValue)
                {
                    <dd class="col-sm-9">Not Returned</dd>
                }
                else
                {
                    <dd class="col-sm-9">@Model.ReturnDate?.ToString("g")</dd>
                }
                <dt class="col-sm-3">Condition At Return</dt>
                <dd class="col-sm-9">@Model.ConditionAtReturn</dd>
            </dl>

            <div class="mt-4 d-flex justify-content-between">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>
